<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/public/css/style.css">

    <title>Ramon Bomfim</title>
</head>

<body>
    <header class="topo">
        <img src="/public/images/ramon-bomfim.jpg" alt="Foto de Ramon Bomfim">

        <h1 id="title">Ramon Bomfim</h1>
    </header>

    <section>
        <header>
            <h2 class="subtitle">Posts</h2>

            <article class="post">
                <header>
                    <h3 class="post_title">Post #1</h3>

                    <img src="/public/images/postagem.jpg" alt="Imagem de código html" class="post_image">
                </header>

                <p class="post_content">
                    Lorem ipsum dolor sit amet, <a href="https://www.linkedin.com/in/ramon-bomfim-8372a919a/"
                        target="_blank">consectetur adipiscing</a> elit.
                    Fusce id hendrerit nibh. In sapien enim,
                    porttitor eget eleifend quis, pellentesque in leo. Maecenas nisl leo, dapibus et volutpat vel,
                    consequat at <a href="mailto:ramonpaulo94@gmail.com">metus</a>. Vivamus efficitur augue nec aliquam
                    viverra. Quisque mollis ac nibh luctus
                    ullamcorper. Sed varius ut ante ac tempor. Pellentesque sit amet augue iaculis, porttitor eros et,
                    aliquam nisi. Integer quis diam nunc. Cras ac blandit massa. Suspendisse sollicitudin laoreet lorem,
                    quis tincidunt felis sodales et. Quisque blandit sem quam. Fusce ut nulla quis libero aliquam
                    interdum. In elementum id nisl quis lobortis.
                </p>
            </article>
        </header>
    </section>

    <footer>
        <ul class="contact_list">
            <li>
                <a href="mailto:ramonpaulo94@gmail.com">ramonpaulo94@gmail.com</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/ramon-bomfim-8372a919a/" target="_blank">Linkedin</a>
            </li>
            <li>
                <a href="https://github.com/" target="_blank">GitHub</a>
            </li>
        </ul>
    </footer>
</body>

</html>